/models/
/lessons/00_toy_logits
/lessons/01_rmsnorm_linear
/lessons/02_swiglu_residual
/lessons/03_rope
/lessons/04_attention
/lessons/05_gqa_kv_cache
/lessons/06_deltanet_recurrence
/lessons/07_deltanet_layer
/lessons/08_hybrid_qwen
/lessons/09_qwen35_0_8b
/qwen35-0.8b/qwen35
/qwen35-0.8b/qwen35_cuda
/qwen35-0.8b/out/
/01-hf-reference/build/
/02-cpu-0.8b/build/
/02-cpu-0.8b/qwen35
/03-cuda-0.8b/build/
/03-cuda-0.8b/qwen35_cuda
/05-qwen38-27b/build/
__pycache__/
*.pyc
